<div class="flex items-center justify-center">

    <div class="col-span-4">
        <div class="shadow-sm mt-5">
             <div >
                <h1 class="m-2 text-5xl text-center font-slackside text-sky-500">Zoe</h1>
             </div>
 
             <div class="">
                 <form >
                     <div class="mb-3">
                         <label class="form-label">Username</label>
                         <input type="text" class="form-control" formControlName="username">
                         <div class="form-text text-red-400" > O username deve conter pelo menos 6 caracteres.</div>
                     </div>
                     <div class="mb-3">
                         <label class="form-label">Password</label>
                         <input type="password" class="form-control" formControlName="password">
                         <div class="form-text text-red-400"> O password deve conter pelo menos 6 caracteres.</div>
                     </div>
 
                     <button type="button" class="btn btn-primary">
                         Entrar
                     </button>
                 </form>
             </div>
 
        </div>
    </div>
 
 </div>