<nav class="bg-gray-50 text-emerald-800 shadow-md mb-6">
  <div class="flex items-center justify-between p-6">
    <img
      src="assets/Logo.png"
      alt="Logo"
      class="text-3xl font-bold hover:font-normal"
      routerLink=""
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    />
    <ul class="flex items-center space-x-6 ease-in duration-100 cursor-pointer">
      <li
        class="item hover:font-bold hover:ease-in duration-100"
        routerLink="/"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Home
      </li>
      <li
        class="item hover:font-bold hover:font-bold hover:ease-in duration-100"
        routerLink="/profile"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Perfil
      </li>
      <li
        class="item hover:font-bold hover:font-bold hover:ease-in duration-100"
        routerLink="/profile"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Sair
      </li>
    </ul>
  </div>
</nav>
<router-outlet />
